# <a id='toc1_'></a>[Data Source 1 - Otter - Cleaning](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Data Source 1 - Otter - Cleaning](#toc1_)    
  - [Import libraries an PyPower](#toc1_1_)    
  - [Otter General](#toc1_2_)    
    - [Import Data](#toc1_2_1_)    
    - [Data cleaning basics](#toc1_2_2_)    
    - [Final DataFrame](#toc1_2_3_)    
  - [Otter items](#toc1_3_)    
    - [Import Data](#toc1_3_1_)    
    - [Data cleaning basics](#toc1_3_2_)    
    - [Final DataFrame](#toc1_3_3_)    
  - [Export clean dataframes](#toc1_4_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Import libraries an PyPower](#toc0_)

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)


import sys
sys.path.append('../Python')
from  PyPower import *

## <a id='toc1_2_'></a>[Otter General](#toc0_)

### <a id='toc1_2_1_'></a>[Import Data](#toc0_)

In [2]:
otter = pd.read_csv('../../data/0-raw/20230101-20231031_all.csv')
otter_original_shape= otter.shape
otter.head()

,Recibido,ID de Pedido,Canal,Estado del pedido,Marca,Tienda,Cantidad de los artículos,Subtotal,Propina,Service Fee,Ajustes,Descuento,Descuento de la plataforma,Payout,Error Charges,Aceptado,Modo de cumplimiento,Tipo de programación,Currency Code
0,"31/10/2023, 23:22:36",457EE,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,46.0,0.0,0.0,0.0,-12.64,0.0,23.73,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
1,"31/10/2023, 23:19:01",0390E,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,4,62.8,0.0,0.0,0.0,-25.27,0.0,28.16,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
2,"31/10/2023, 23:15:19",EBBB9,Uber Eats,Entregado,Tepuy Basics,Goleta,3,30.6,0.0,0.0,0.0,0.00,0.0,30.60,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
3,"31/10/2023, 23:14:29",58A44,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,45.8,0.0,0.0,0.0,-12.64,0.0,23.60,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
4,"31/10/2023, 23:01:13",776960000,Gloria Foods,Entregado,Umbrella SH,Goleta,6,44.0,0.0,0.0,0.0,0.00,0.0,44.00,0.0,Aceptado,Para Recoger,De inmediato,EUR

In [3]:
otter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55678 entries, 0 to 55677
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Recibido                    55678 non-null  object
 1   ID de Pedido                55678 non-null  object
 2   Canal                       55678 non-null  object
 3   Estado del pedido           55678 non-null  object
 4   Marca                       55581 non-null  object
 5   Tienda                      55678 non-null  object
 6   Cantidad de los artículos   55678 non-null  int64
 7   Subtotal                    55678 non-null  float64
 8   Propina                     55678 non-null  float64
 9   Service Fee                 55678 non-null  float64
 10  Ajustes                     55678 non-null  float64
 11  Descuento                   55678 non-null  float64
 12  Descuento de la plataforma  55678 non-null  float64
 13  Payout                      55678 non-null  float64
 14  Error Charges               55678 non-null  float64
 15  Aceptado                    55678 non-null  object
 16  Modo de cumplimiento        55678 non-null  object
 17  Tipo de programación        55678 non-null  object
 18  Currency Code               55678 non-null  object
dtypes: float64(8), int64(1), object(10)
memory usage: 8.1+ MB

### <a id='toc1_2_2_'></a>[Data cleaning basics](#toc0_)

Check for null values

In [5]:
check_nan(otter, False)

'N nan cols: 1'

Marca    0.174216
dtype: float64

Unify names and column spaces

In [6]:
otter = column_unification(otter)

Duplicates

In [7]:
otter.duplicated().any()

False

Constants detection

In [8]:
count_columns = column_counts(otter)

count_columns

{1: ['service_fee', 'currency_code'],
 2: ['ajustes', 'aceptado'],
 3: ['tipo_de_programación'],
 4: ['estado_del_pedido', 'marca', 'modo_de_cumplimiento'],
 6: ['canal'],
 7: ['propina'],
 15: ['tienda'],
 28: ['cantidad_de_los_artículos'],
 155: ['descuento_de_la_plataforma'],
 162: ['error_charges'],
 1004: ['descuento'],
 1073: ['subtotal'],
 4511: ['payout'],
 54758: ['recibido'],
 55280: ['id_de_pedido']}

Delete columns with a count (constants)

In [9]:
otter = drop_columns(otter, count_columns[1])

### <a id='toc1_2_3_'></a>[Final DataFrame](#toc0_)

In [10]:
otter.head()

,recibido,id_de_pedido,canal,estado_del_pedido,marca,tienda,cantidad_de_los_artículos,subtotal,propina,ajustes,descuento,descuento_de_la_plataforma,payout,error_charges,aceptado,modo_de_cumplimiento,tipo_de_programación
0,"31/10/2023, 23:22:36",457EE,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,46.0,0.0,0.0,-12.64,0.0,23.73,0.0,Aceptado,Entrega del mercado,De inmediato
1,"31/10/2023, 23:19:01",0390E,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,4,62.8,0.0,0.0,-25.27,0.0,28.16,0.0,Aceptado,Entrega del mercado,De inmediato
2,"31/10/2023, 23:15:19",EBBB9,Uber Eats,Entregado,Tepuy Basics,Goleta,3,30.6,0.0,0.0,0.00,0.0,30.60,0.0,Aceptado,Entrega del mercado,De inmediato
3,"31/10/2023, 23:14:29",58A44,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,45.8,0.0,0.0,-12.64,0.0,23.60,0.0,Aceptado,Entrega del mercado,De inmediato
4,"31/10/2023, 23:01:13",776960000,Gloria Foods,Entregado,Umbrella SH,Goleta,6,44.0,0.0,0.0,0.00,0.0,44.00,0.0,Aceptado,Para Recoger,De inmediato

## <a id='toc1_3_'></a>[Otter items](#toc0_)

### <a id='toc1_3_1_'></a>[Import Data](#toc0_)

In [11]:
otter_items = pd.read_csv('../../data/0-raw/20230801-20231031_items_otter.csv')
otter_items_original_shape = otter_items.shape
otter_items.head()

,Artículos ordenados,Cantidad,Precio de venta,Artículo subtotal,Recibido,ID de Pedido,Canal,Estado del pedido,Marca,Tienda,Cantidad de los artículos,Subtotal,Propina,Service Fee,Ajustes,Descuento,Descuento de la plataforma,Payout,Error Charges,Aceptado,Modo de cumplimiento,Tipo de programación,Currency Code
0,Patatas fritas Pequeñas,1,2.5,2.5,"01/08/2023, 13:09:18",35999,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Jose Calvo,2,12.2,0.0,0.0,0.0,0.0,0.0,8.06,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
1,Kahuna Burger,1,8.5,8.5,"01/08/2023, 13:09:18",35999,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Jose Calvo,2,12.2,0.0,0.0,0.0,0.0,0.0,8.06,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
2,Sweet Home Sanvi,1,12.3,12.3,"01/08/2023, 13:11:03",B0FE0,Uber Eats,Entregado,Umbrella SH,Umbrella SH - San Vicent del Raspeig,8,63.8,0.0,0.0,0.0,0.0,0.0,48.36,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
3,Chicken Tenders,1,7.6,7.6,"01/08/2023, 13:11:03",B0FE0,Uber Eats,Entregado,Umbrella SH,Umbrella SH - San Vicent del Raspeig,8,63.8,0.0,0.0,0.0,0.0,0.0,48.36,0.0,Aceptado,Entrega del mercado,De inmediato,EUR
4,Tequeños,1,6.4,6.4,"01/08/2023, 13:11:03",B0FE0,Uber Eats,Entregado,Umbrella SH,Umbrella SH - San Vicent del Raspeig,8,63.8,0.0,0.0,0.0,0.0,0.0,48.36,0.0,Aceptado,Entrega del mercado,De inmediato,EUR

In [12]:
otter_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43347 entries, 0 to 43346
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Artículos ordenados         43347 non-null  object
 1   Cantidad                    43347 non-null  int64
 2   Precio de venta             43347 non-null  float64
 3   Artículo subtotal           43347 non-null  float64
 4   Recibido                    43347 non-null  object
 5   ID de Pedido                43347 non-null  object
 6   Canal                       43347 non-null  object
 7   Estado del pedido           43347 non-null  object
 8   Marca                       43336 non-null  object
 9   Tienda                      43347 non-null  object
 10  Cantidad de los artículos   43347 non-null  int64
 11  Subtotal                    43347 non-null  float64
 12  Propina                     43347 non-null  float64
 13  Service Fee                 43347 non-null  float64
 14  Ajustes                     43347 non-null  float64
 15  Descuento                   43347 non-null  float64
 16  Descuento de la plataforma  43347 non-null  float64
 17  Payout                      43347 non-null  float64
 18  Error Charges               43347 non-null  float64
 19  Aceptado                    43347 non-null  object
 20  Modo de cumplimiento        43347 non-null  object
 21  Tipo de programación        43347 non-null  object
 22  Currency Code               43347 non-null  object
dtypes: float64(10), int64(2), object(11)
memory usage: 7.6+ MB

### <a id='toc1_3_2_'></a>[Data cleaning basics](#toc0_)

Check for null values

In [13]:
check_nan(otter_items, False)

'N nan cols: 1'

Marca    0.025377
dtype: float64

Unify names and column spaces

In [14]:
otter_items = column_unification(otter_items)

Duplicated

In [15]:
otter_items.duplicated().any(), otter_items[(otter_items.duplicated())].shape

(True, (408, 23))

In [16]:
#Example of an order with a duplicate row. It is a system error that does not add two items in quantity and adds two rows instead.

otter_items[(otter_items.id_de_pedido=='733935318')]

,artículos_ordenados,cantidad,precio_de_venta,artículo_subtotal,recibido,id_de_pedido,canal,estado_del_pedido,marca,tienda,cantidad_de_los_artículos,subtotal,propina,service_fee,ajustes,descuento,descuento_de_la_plataforma,payout,error_charges,aceptado,modo_de_cumplimiento,tipo_de_programación,currency_code
308,Patatas fritas S,2,2.5,5.0,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR
309,Cerveza Estrella Galicia 33CL,1,1.9,1.9,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR
310,Kahuna Burger,1,8.1,8.1,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR
311,Kahuna Burger,1,8.1,8.1,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR

In [17]:
# Group by order id and ungroup by item and then add the quantity and assign it to the column 'quantity'.

otter_items['cantidad'] = otter_items.groupby(['id_de_pedido', 'artículos_ordenados'])['cantidad'].transform('sum')

# Remove duplicate rows leaving one row for each combination of 'order_id' and 'ordered_items'.

otter_items = otter_items.drop_duplicates(subset=['id_de_pedido', 'artículos_ordenados'])

In [18]:
otter_items[(otter_items.id_de_pedido=='733935318')]

,artículos_ordenados,cantidad,precio_de_venta,artículo_subtotal,recibido,id_de_pedido,canal,estado_del_pedido,marca,tienda,cantidad_de_los_artículos,subtotal,propina,service_fee,ajustes,descuento,descuento_de_la_plataforma,payout,error_charges,aceptado,modo_de_cumplimiento,tipo_de_programación,currency_code
308,Patatas fritas S,2,2.5,5.0,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR
309,Cerveza Estrella Galicia 33CL,1,1.9,1.9,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR
310,Kahuna Burger,2,8.1,8.1,"01/08/2023, 22:16:21",733935318,Gloria Foods,Entregado,Umbrella SH,Umbrella SH - Goleta,5,23.3,0.0,0.0,0.0,0.0,0.0,23.3,0.0,Aceptado,Para Recoger,De inmediato,EUR

In [19]:
otter_items.duplicated().any()

False

Constants detection

In [20]:
count_columns_items = column_counts(otter_items)

count_columns_items

{1: ['service_fee', 'currency_code'],
 2: ['ajustes', 'aceptado', 'tipo_de_programación'],
 3: ['estado_del_pedido', 'propina', 'modo_de_cumplimiento'],
 4: ['marca'],
 5: ['canal'],
 10: ['cantidad'],
 11: ['tienda'],
 23: ['cantidad_de_los_artículos'],
 86: ['precio_de_venta'],
 93: ['descuento_de_la_plataforma'],
 106: ['error_charges'],
 211: ['artículos_ordenados'],
 259: ['artículo_subtotal'],
 702: ['descuento'],
 867: ['subtotal'],
 3122: ['payout'],
 18117: ['recibido'],
 18294: ['id_de_pedido']}

Drop columns:
- There are repeated columns, the only ones that differentiate this dataset are items_ordered, quantity, sales_price and item_subtotal, and the column to join with the order dataset: id_of_order.

In [21]:
#Search for the intersection between both dataframes and remove them from otter_item

otter.columns.intersection(otter_items.columns)

Index(['recibido', 'id_de_pedido', 'canal', 'estado_del_pedido', 'marca',
       'tienda', 'cantidad_de_los_artículos', 'subtotal', 'propina', 'ajustes',
       'descuento', 'descuento_de_la_plataforma', 'payout', 'error_charges',
       'aceptado', 'modo_de_cumplimiento', 'tipo_de_programación'],
      dtype='object')

In [22]:
otter_items.drop(columns=['recibido', 'canal', 'estado_del_pedido', 'marca',
       'tienda', 'cantidad_de_los_artículos', 'subtotal', 'propina', 'ajustes',
       'descuento', 'descuento_de_la_plataforma', 'payout', 'error_charges',
       'aceptado', 'modo_de_cumplimiento', 'tipo_de_programación', 'currency_code'], inplace=True)

### <a id='toc1_3_3_'></a>[Final DataFrame](#toc0_)

In [23]:
otter_items.head()

,artículos_ordenados,cantidad,precio_de_venta,artículo_subtotal,id_de_pedido,service_fee
0,Patatas fritas Pequeñas,1,2.5,2.5,35999,0.0
1,Kahuna Burger,1,8.5,8.5,35999,0.0
2,Sweet Home Sanvi,1,12.3,12.3,B0FE0,0.0
3,Chicken Tenders,1,7.6,7.6,B0FE0,0.0
4,Tequeños,1,6.4,6.4,B0FE0,0.0

In [26]:
otter_items['artículos_ordenados'].value_counts()

artículos_ordenados
Patatas fritas Grandes       3742
Patatas fritas Pequeñas      2891
Kahuna Burger                2561
Sweet Home Madrid            2151
Sweet Home Alicante          2027
                             ...
Patito de goma blanco           1
Coca-Cola                       1
Coca-cola Zero bote             1
Ración de boniato               1
Sombrero Patitos Facheros       1
Name: count, Length: 211, dtype: int64

## <a id='toc1_4_'></a>[Export clean dataframes](#toc0_)

In [24]:
otter.to_csv('../../data/1-clean/otter_clean.csv', index=False)
otter_items.to_csv('../../data/1-clean/otter_item_clean.csv', index=False)