# <a id='toc1_'></a>[Data Source 2 -  Deliverect - EDA](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Data Source 2 -  Deliverect - EDA](#toc1_)    
  - [Import libraries and PyPower](#toc1_1_)    
  - [Deliverect](#toc1_2_)    
    - [Import Data](#toc1_2_1_)    
    - [Project requirements](#toc1_2_2_)    
      - [Deliverect is source of 'Just Eat' channel](#toc1_2_2_1_)    
      - [Delete not relevant and constant columns](#toc1_2_2_2_)    
      - [Delete where type is not DELIVERY](#toc1_2_2_3_)    
    - [Análisis de columnas](#toc1_2_3_)    
      - [Rename columns](#toc1_2_3_1_)    
      - ['discount'](#toc1_2_3_2_)    
    - [Resultado final](#toc1_2_4_)    
  - [Deliverect Items](#toc1_3_)    
    - [Import Data](#toc1_3_1_)    
    - [Project requirements](#toc1_3_2_)    
      - [Deliverect is source of 'Just Eat' channel](#toc1_3_2_1_)    
      - [Drop rows de deliverect_item que no existen en deliverect](#toc1_3_2_2_)    
    - [Análisis de columnas](#toc1_3_3_)    
      - [Delete not relevant and constant columns](#toc1_3_3_1_)    
      - [Rename columns](#toc1_3_3_2_)    
      - ['itemprice'](#toc1_3_3_3_)    
    - [Resultado Final](#toc1_3_4_)    
  - [Export clean dataframes](#toc1_4_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Import libraries and PyPower](#toc0_)

In [22]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import sys
sys.path.append('../Python')
from  PyPower import *

## <a id='toc1_2_'></a>[Deliverect](#toc0_)

### <a id='toc1_2_1_'></a>[Import Data](#toc0_)

Son tres datasets con la información por meses, así que se importan y se agregan uno abajo del otro

In [23]:
deliverect = pd.read_csv('../../data/1-clean/deliverect_clean.csv')

deliverect_original_shape= deliverect.shape

deliverect.head()

,pickuptime,pickuptimeutc,createdtime,createdtimeutc,location,orderid,channel,status,type,payment,paymentamount,deliverycost,discounttotal,subtotal,channellink,vat
0,2023-04-30 23:11:21+0200,2023-04-30 21:11:21,2023-04-30 22:51:18+0200,2023-04-30 20:51:18,Alicante - Periodista Rodolfo Salazar,C5C6A,Uber Eats,DELIVERED,DELIVERY,ONLINE,12.9,0.0,-12.9,25.8,Uber Eats,1.18
1,2023-04-30 23:01:41+0200,2023-04-30 21:01:41,2023-04-30 22:36:25+0200,2023-04-30 20:36:25,Alicante - Periodista Rodolfo Salazar,BD770,Uber Eats,DELIVERED,PICKUP,ONLINE,15.9,0.0,-12.9,28.8,Uber Eats,1.45
2,2023-04-30 22:31:06+0200,2023-04-30 20:31:06,2023-04-30 22:10:04+0200,2023-04-30 20:10:04,Alicante - Periodista Rodolfo Salazar,A892B,Uber Eats,DELIVERED,DELIVERY,ONLINE,21.8,0.0,0.0,21.8,Uber Eats,1.98
3,2023-04-30 22:20:19+0200,2023-04-30 20:20:19,2023-04-30 21:59:31+0200,2023-04-30 19:59:31,Alicante - Bazan,BB3B8,Uber Eats,ACCEPTED,DELIVERY,ONLINE,36.6,0.0,0.0,36.6,Uber Eats,3.34
4,2023-04-30 22:20:13+0200,2023-04-30 20:20:13,2023-04-30 22:01:55+0200,2023-04-30 20:01:55,Alicante - Periodista Rodolfo Salazar,1F69D,Uber Eats,DELIVERED,DELIVERY,ONLINE,14.0,0.0,0.0,14.0,Uber Eats,1.28

In [24]:
deliverect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8038 entries, 0 to 8037
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pickuptime      8038 non-null   object
 1   pickuptimeutc   8038 non-null   object
 2   createdtime     8038 non-null   object
 3   createdtimeutc  8038 non-null   object
 4   location        8038 non-null   object
 5   orderid         8038 non-null   object
 6   channel         8038 non-null   object
 7   status          8038 non-null   object
 8   type            8038 non-null   object
 9   payment         8038 non-null   object
 10  paymentamount   8038 non-null   float64
 11  deliverycost    8038 non-null   float64
 12  discounttotal   8038 non-null   float64
 13  subtotal        8038 non-null   float64
 14  channellink     8038 non-null   object
 15  vat             8038 non-null   float64
dtypes: float64(5), object(11)
memory usage: 1004.9+ KB

### <a id='toc1_2_2_'></a>[Project requirements](#toc0_)

#### <a id='toc1_2_2_1_'></a>[Deliverect is source of 'Just Eat' channel](#toc0_)

In [25]:
deliverect = deliverect[(deliverect.channel=='Just Eat')]

#### <a id='toc1_2_2_2_'></a>[Delete not relevant and constant columns](#toc0_)

In [26]:
deliverect.columns

Index(['pickuptime', 'pickuptimeutc', 'createdtime', 'createdtimeutc',
       'location', 'orderid', 'channel', 'status', 'type', 'payment',
       'paymentamount', 'deliverycost', 'discounttotal', 'subtotal',
       'channellink', 'vat'],
      dtype='object')

In [27]:
deliverect.drop(columns=['pickuptime', 'pickuptimeutc', 'createdtime', 'channellink', 'deliverycost'], inplace=True)
print(deliverect_original_shape[1]-deliverect.shape[1], 'columns deleted')

5 columns deleted

#### <a id='toc1_2_2_3_'></a>[Delete where type is not DELIVERY](#toc0_)

In [28]:
filtered_df = deliverect[deliverect['type']=='DELIVERY']

deliverect = filtered_df.copy()

Delete type column (constant)

In [29]:
deliverect.drop('type', axis=1, inplace=True)

### <a id='toc1_2_3_'></a>[Análisis de columnas](#toc0_)

#### <a id='toc1_2_3_1_'></a>[Rename columns](#toc0_)

In [30]:
deliverect.head(2)

,createdtimeutc,location,orderid,channel,status,payment,paymentamount,discounttotal,subtotal,vat
13,2023-04-30 19:56:04,Alicante - Periodista Rodolfo Salazar,128399797,Just Eat,DELIVERED,CARD,35.09,0.0,33.1,3.01
33,2023-04-30 12:51:20,Alicante - Periodista Rodolfo Salazar,128359424,Just Eat,DELIVERED,CARD,27.29,0.0,25.3,2.30

In [31]:
columns_to_rename={'createdtimeutc':'created_datetime',
                   'orderid':'order_id_software',
                   'payment':'payment_method',
                   'paymentamount':'total',
                   'discounttotal':'discount'}

deliverect = rename_columns(deliverect, columns_to_rename)

#### <a id='toc1_2_3_2_'></a>['discount'](#toc0_)

In [32]:
deliverect.discount.value_counts()

discount
0.0    595
Name: count, dtype: int64

In [33]:
deliverect.drop('discount', axis=1, inplace=True)

### <a id='toc1_2_4_'></a>[Resultado final](#toc0_)

In [34]:
deliverect.head()

,created_datetime,location,order_id_software,channel,status,payment_method,total,subtotal,vat
13,2023-04-30 19:56:04,Alicante - Periodista Rodolfo Salazar,128399797,Just Eat,DELIVERED,CARD,35.09,33.1,3.01
33,2023-04-30 12:51:20,Alicante - Periodista Rodolfo Salazar,128359424,Just Eat,DELIVERED,CARD,27.29,25.3,2.30
46,2023-04-29 21:25:39,Alicante - Periodista Rodolfo Salazar,128335005,Just Eat,DELIVERED,CARD,41.19,39.2,3.57
49,2023-04-29 20:49:51,Alicante - Periodista Rodolfo Salazar,128328474,Just Eat,DELIVERED,CARD,63.69,61.7,5.62
85,2023-04-29 13:16:34,Alicante - Periodista Rodolfo Salazar,128288843,Just Eat,DELIVERED,CARD,67.99,66.0,5.99

## <a id='toc1_3_'></a>[Deliverect Items](#toc0_)

### <a id='toc1_3_1_'></a>[Import Data](#toc0_)

In [35]:
deliverect_item = pd.read_csv('../../data/1-clean/deliverect__items_clean.csv')

deliverect_item_original_shape= deliverect_item.shape

deliverect_item.head()

,createdtime,createdtimeutc,location,orderid,channel,payment,paymentamount,subtotal,vat,productnames,itemprice,itemquantities,discounttotal
0,2023-04-30 22:51:18+0200,2023-04-30 20:51:18,Alicante - Periodista Rodolfo Salazar,C5C6A,Uber Eats,ONLINE,12.9,25.8,1.18,Caprichosa,1290,2,0.0
1,2023-04-30 22:36:25+0200,2023-04-30 20:36:25,Alicante - Periodista Rodolfo Salazar,BD770,Uber Eats,ONLINE,15.9,28.8,1.45,Caprichosa,1290,2,0.0
2,2023-04-30 22:36:25+0200,2023-04-30 20:36:25,Alicante - Periodista Rodolfo Salazar,BD770,Uber Eats,ONLINE,15.9,28.8,1.45,Madurada PUNTO en lugar de carne normal,150,2,0.0
3,2023-04-30 22:10:04+0200,2023-04-30 20:10:04,Alicante - Periodista Rodolfo Salazar,A892B,Uber Eats,ONLINE,21.8,21.8,1.98,Tequenutellla PL,390,1,0.0
4,2023-04-30 22:10:04+0200,2023-04-30 20:10:04,Alicante - Periodista Rodolfo Salazar,A892B,Uber Eats,ONLINE,21.8,21.8,1.98,Arepa Sifrina,770,2,0.0

### <a id='toc1_3_2_'></a>[Project requirements](#toc0_)

#### <a id='toc1_3_2_1_'></a>[Deliverect is source of 'Just Eat' channel](#toc0_)

In [36]:
deliverect_item = deliverect_item[(deliverect_item.channel=='Just Eat')]

#### <a id='toc1_3_2_2_'></a>[Drop rows de deliverect_item que no existen en deliverect](#toc0_)

In [37]:
merged_df = pd.merge(deliverect_item, deliverect, left_on='orderid', right_on='order_id_software', how='left', indicator=True)

orders_fake = merged_df[merged_df['_merge'] == 'left_only'].orderid

In [38]:
deliverect_item.reset_index(drop=True)
deliverect_item = deliverect_item[~(deliverect_item.orderid.isin(orders_fake))]

### <a id='toc1_3_3_'></a>[Análisis de columnas](#toc0_)

#### <a id='toc1_3_3_1_'></a>[Delete not relevant and constant columns](#toc0_)

In [39]:
deliverect_item.drop(columns = ['createdtime', 'createdtimeutc', 'location', 'channel',
       'payment', 'paymentamount', 'subtotal', 'vat', 'discounttotal'], inplace=True)

#### <a id='toc1_3_3_2_'></a>[Rename columns](#toc0_)

In [40]:
columns_to_rename={'orderid' : 'order_id_software', 
                   'productnames':'item',
                   'itemquantities':'quantity',
                   'itemprice':'price'}

deliverect_item = rename_columns(deliverect_item, columns_to_rename)

#### <a id='toc1_3_3_3_'></a>['itemprice'](#toc0_)

In [53]:
deliverect_item['price'] = deliverect_item['price'] / 100

### <a id='toc1_3_4_'></a>[Resultado Final](#toc0_)

In [55]:
deliverect_item.head()

   order_id_software                 item  price  quantity
33         128399797  Arepa Reina Pepiada    7.7         1
34         128399797   Patatas guarnición    1.5         1
35         128399797  Arepa Rumbera Remix    7.7         1
36         128399797          Arepa Pelúa    8.5         1
37         128399797        Arepa Sifrina    7.7         1

## <a id='toc1_4_'></a>[Export clean dataframes](#toc0_)

In [56]:
deliverect.to_csv('../../data/2-analyzed/deliverect_EDA.csv', index=False)
deliverect_item.to_csv('../../data/2-analyzed/deliverect_item_EDA.csv', index=False)