# <a id='toc1_'></a>[Data Source 1 - Otter - EDA](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Data Source 1 - Otter - EDA](#toc1_)    
  - [Import libraries an PyPower](#toc1_1_)    
  - [Otter General](#toc1_2_)    
    - [Import Data](#toc1_2_1_)    
    - [Project requirements](#toc1_2_2_)    
      - [Columns 'platform discount' and 'adjustments' do not add value to the revenue study, so they are dropped.](#toc1_2_2_1_)    
      - [Coumn 'location' has repeated data due to software errors.](#toc1_2_2_2_)    
    - [Column analysis](#toc1_2_3_)    
      - [Rename columns](#toc1_2_3_1_)    
      - ['channel'](#toc1_2_3_2_)    
      - ['status'](#toc1_2_3_3_)    
      - ['order_type'](#toc1_2_3_4_)    
      - ['delivery_timing'](#toc1_2_3_5_)    
    - [Final DataFrame](#toc1_2_4_)    
  - [Otter items](#toc1_3_)    
    - [Import Data](#toc1_3_1_)    
    - [Column analysis](#toc1_3_2_)    
      - [Rename columns](#toc1_3_2_1_)    
      - [Column item](#toc1_3_2_2_)    
    - [Final DataFrame](#toc1_3_3_)    
  - [Export clean dataframes](#toc1_4_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Import libraries an PyPower](#toc0_)

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import sys
sys.path.append('../Python')
from  PyPower import *

## <a id='toc1_2_'></a>[Otter General](#toc0_)

### <a id='toc1_2_1_'></a>[Import Data](#toc0_)

In [2]:
otter = pd.read_csv('../../data/1-clean/otter_clean.csv')
otter_original_shape= otter.shape
otter.head()

,recibido,id_de_pedido,canal,estado_del_pedido,marca,tienda,cantidad_de_los_artículos,subtotal,propina,ajustes,descuento,descuento_de_la_plataforma,payout,error_charges,aceptado,modo_de_cumplimiento,tipo_de_programación
0,"31/10/2023, 23:22:36",457EE,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,46.0,0.0,0.0,-12.64,0.0,23.73,0.0,Aceptado,Entrega del mercado,De inmediato
1,"31/10/2023, 23:19:01",0390E,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,4,62.8,0.0,0.0,-25.27,0.0,28.16,0.0,Aceptado,Entrega del mercado,De inmediato
2,"31/10/2023, 23:15:19",EBBB9,Uber Eats,Entregado,Tepuy Basics,Goleta,3,30.6,0.0,0.0,0.00,0.0,30.60,0.0,Aceptado,Entrega del mercado,De inmediato
3,"31/10/2023, 23:14:29",58A44,Uber Eats,Entregado,Umbrella SH,EMEA - SP - MAD - Salamanca,2,45.8,0.0,0.0,-12.64,0.0,23.60,0.0,Aceptado,Entrega del mercado,De inmediato
4,"31/10/2023, 23:01:13",776960000,Gloria Foods,Entregado,Umbrella SH,Goleta,6,44.0,0.0,0.0,0.00,0.0,44.00,0.0,Aceptado,Para Recoger,De inmediato

In [3]:
otter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55678 entries, 0 to 55677
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   recibido                    55678 non-null  object
 1   id_de_pedido                55678 non-null  object
 2   canal                       55678 non-null  object
 3   estado_del_pedido           55678 non-null  object
 4   marca                       55581 non-null  object
 5   tienda                      55678 non-null  object
 6   cantidad_de_los_artículos   55678 non-null  int64
 7   subtotal                    55678 non-null  float64
 8   propina                     55678 non-null  float64
 9   ajustes                     55678 non-null  float64
 10  descuento                   55678 non-null  float64
 11  descuento_de_la_plataforma  55678 non-null  float64
 12  payout                      55678 non-null  float64
 13  error_charges               55678 non-null  float64
 14  aceptado                    55678 non-null  object
 15  modo_de_cumplimiento        55678 non-null  object
 16  tipo_de_programación        55678 non-null  object
dtypes: float64(7), int64(1), object(9)
memory usage: 7.2+ MB

### <a id='toc1_2_2_'></a>[Project requirements](#toc0_)

#### <a id='toc1_2_2_1_'></a>[Columns 'platform discount' and 'adjustments' do not add value to the revenue study, so they are dropped.](#toc0_)

Also column 'aceptado'

In [4]:
otter = drop_columns(otter, ['descuento_de_la_plataforma', 'ajustes','error_charges' , 'aceptado'])

#### <a id='toc1_2_2_2_'></a>[Coumn 'location' has repeated data due to software errors.](#toc0_)

In [5]:
otter.tienda.value_counts()

tienda
Umbrella SH - San Vicent del Raspeig    9714
Tepuy Burger - Benidorm                 8455
Umbrella SH - Goleta                    7917
Umbrella SH - Calle Linares             7743
ES01_Tetuan_Jose Calvo 10               5245
Tepuy Burger - Rodolfo Salazar          3315
EMEA - SP - MAD - Jose Calvo            2947
Tepuy Burger - Calle Bazan              2715
ES01 - Tetuan - Jose Calvo 10           2526
EMEA - SP - MAD - Tetuan                1503
ES - MRD - Tetuan                       1346
EMEA - SP - MAD - Salamanca              924
Goleta                                   645
EMEA - SP - MAD - Canillas 18            612
Tepuy Burger - Calle Linares 5            71
Name: count, dtype: int64

In [6]:
#Software naming errors. Its the same local

otter.tienda = otter.tienda.apply(replace_to, change='ES01_Tetuan_Jose Calvo 10', change_to='Umbrella - Tetuan')
otter.tienda = otter.tienda.apply(replace_to, change='EMEA - SP - MAD - Jose Calvo', change_to='Umbrella - Tetuan')
otter.tienda = otter.tienda.apply(replace_to, change='ES01 - Tetuan - Jose Calvo 10', change_to='Umbrella - Tetuan')
otter.tienda = otter.tienda.apply(replace_to, change='EMEA - SP - MAD - Tetuan', change_to='Umbrella - Tetuan')
otter.tienda = otter.tienda.apply(replace_to, change='ES - MRD - Tetuan', change_to='Umbrella - Tetuan')
otter.tienda = otter.tienda.apply(replace_to, change='EMEA - SP - MAD - Salamanca', change_to='Umbrella - Salamanca')
otter.tienda = otter.tienda.apply(replace_to, change='EMEA - SP - MAD - Canillas 18', change_to='Umbrella - Salamanca')
otter.tienda = otter.tienda.apply(replace_to, change='Tepuy Burger - Calle Linares 5', change_to='Umbrella - Calle Linares')

In [7]:
# Unificar nombres de marca y no compañía
otter.tienda = otter.tienda.apply(replace_to, change='Umbrella SH - San Vicent del Raspeig', change_to='Umbrella - San Vicent del Raspeig')
otter.tienda = otter.tienda.apply(replace_to, change='Goleta', change_to='Umbrella - Goleta')
otter.tienda = otter.tienda.apply(replace_to, change='Umbrella SH - Goleta', change_to='Umbrella - Goleta')
otter.tienda = otter.tienda.apply(replace_to, change='Umbrella SH - Umbrella - Goleta', change_to='Umbrella - Goleta')
otter.tienda = otter.tienda.apply(replace_to, change='Umbrella SH - Calle Linares', change_to='Umbrella - Calle Linares')

In [8]:
otter.marca.value_counts()

marca
Umbrella SH           40024
Tepuy Burger          10957
Tepuy Basics           4111
Arepas Doña Emilia      489
Name: count, dtype: int64

In [9]:
mapeo_tienda_marca = {
    'Umbrella - Tetuan': 'Umbrella SH',
    'Umbrella - San Vicent del Raspeig': 'Umbrella SH',
    'Umbrella - Goleta': 'Umbrella SH',
    'Tepuy Burger - Benidorm': 'Tepuy Burger',
    'Umbrella - Calle Linares': 'Umbrella SH',
    'Tepuy Burger - Rodolfo Salazar': 'Tepuy Burger',
    'Tepuy Burger - Calle Bazan': 'Tepuy Burger',
    'Umbrella - Salamanca': 'Umbrella SH'
}

otter['marca'] = otter['marca'].fillna(otter['tienda'].map(mapeo_tienda_marca))

### <a id='toc1_2_3_'></a>[Column analysis](#toc0_)

#### <a id='toc1_2_3_1_'></a>[Rename columns](#toc0_)

In [10]:
columns_to_rename={'recibido':'created_datetime',
                   'id_de_pedido':'order_id_software',
                   'canal':'channel',
                   'estado_del_pedido':'status',
                   'marca':'brand',
                   'tienda':'location',
                   'cantidad_de_los_artículos':'quantity',
                   'propina':'tip',
                   'descuento':'discount',
                   'modo_de_cumplimiento':'order_type',
                   'payout':'total',
                   'tipo_de_programación':'delivery_timing'}

otter = rename_columns(otter, columns_to_rename)

#### <a id='toc1_2_3_2_'></a>['channel'](#toc0_)

In [11]:
otter.channel.value_counts()

channel
Uber Eats        29349
Glovo            16663
Gloria Foods      8308
JustEat           1348
Phone                6
Direct Orders        4
Name: count, dtype: int64

In [12]:
otter.channel = otter.channel.apply(replace_to, change='JustEat', change_to='Just Eat')

otter.channel.value_counts()

channel
Uber Eats        29349
Glovo            16663
Gloria Foods      8308
Just Eat          1348
Phone                6
Direct Orders        4
Name: count, dtype: int64

#### <a id='toc1_2_3_3_'></a>['status'](#toc0_)

In [13]:
otter.status.value_counts()

status
Entregado      52379
Nuevo           2154
Desconocido      632
Cancelado        513
Name: count, dtype: int64

In [14]:
otter.status = otter.status.apply(replace_to, change='Entregado', change_to='DELIVERED')
otter.status = otter.status.apply(replace_to, change='Nuevo', change_to='NEW')
otter.status = otter.status.apply(replace_to, change='Desconocido', change_to='UNKNOWN')
otter.status = otter.status.apply(replace_to, change='Cancelado', change_to='CANCELED')

otter.status.value_counts()

status
DELIVERED    52379
NEW           2154
UNKNOWN        632
CANCELED       513
Name: count, dtype: int64

#### <a id='toc1_2_3_4_'></a>['order_type'](#toc0_)

In [15]:
otter.order_type.value_counts()

order_type
Entrega del mercado           44329
Para Recoger                   6480
Entrega por el Restaurante     4114
Desconocido                     755
Name: count, dtype: int64

In [16]:
otter.order_type = otter.order_type.apply(replace_to, change='Entrega del mercado', change_to='DELIVERY')
otter.order_type = otter.order_type.apply(replace_to, change='Para Recoger', change_to='PICK UP')
otter.order_type = otter.order_type.apply(replace_to, change='Entrega por el Restaurante', change_to='OWN DELIVERY')
otter.order_type = otter.order_type.apply(replace_to, change='Desconocido', change_to='UNKNOWN')

#### <a id='toc1_2_3_5_'></a>['delivery_timing'](#toc0_)

In [17]:
otter.delivery_timing.value_counts()

delivery_timing
De inmediato    54584
Desconocido       755
Programado        339
Name: count, dtype: int64

In [18]:
otter.delivery_timing = otter.delivery_timing.apply(replace_to, change='De inmediato', change_to='Immediately')
otter.delivery_timing = otter.delivery_timing.apply(replace_to, change='Desconocido', change_to='Unknown')
otter.delivery_timing = otter.delivery_timing.apply(replace_to, change='Programado', change_to='Scheduled')

### <a id='toc1_2_4_'></a>[Final DataFrame](#toc0_)

In [19]:
otter.head()

,created_datetime,order_id_software,channel,status,brand,location,quantity,subtotal,tip,discount,total,order_type,delivery_timing
0,"31/10/2023, 23:22:36",457EE,Uber Eats,DELIVERED,Umbrella SH,Umbrella - Salamanca,2,46.0,0.0,-12.64,23.73,DELIVERY,Immediately
1,"31/10/2023, 23:19:01",0390E,Uber Eats,DELIVERED,Umbrella SH,Umbrella - Salamanca,4,62.8,0.0,-25.27,28.16,DELIVERY,Immediately
2,"31/10/2023, 23:15:19",EBBB9,Uber Eats,DELIVERED,Tepuy Basics,Umbrella - Goleta,3,30.6,0.0,0.00,30.60,DELIVERY,Immediately
3,"31/10/2023, 23:14:29",58A44,Uber Eats,DELIVERED,Umbrella SH,Umbrella - Salamanca,2,45.8,0.0,-12.64,23.60,DELIVERY,Immediately
4,"31/10/2023, 23:01:13",776960000,Gloria Foods,DELIVERED,Umbrella SH,Umbrella - Goleta,6,44.0,0.0,0.00,44.00,PICK UP,Immediately

## <a id='toc1_3_'></a>[Otter items](#toc0_)

### <a id='toc1_3_1_'></a>[Import Data](#toc0_)

In [20]:
otter_items = pd.read_csv('../../data/1-clean/otter_item_clean.csv')
otter_items_original_shape = otter_items.shape
otter_items.head()

,artículos_ordenados,cantidad,precio_de_venta,artículo_subtotal,id_de_pedido,service_fee
0,Patatas fritas Pequeñas,1,2.5,2.5,35999,0.0
1,Kahuna Burger,1,8.5,8.5,35999,0.0
2,Sweet Home Sanvi,1,12.3,12.3,B0FE0,0.0
3,Chicken Tenders,1,7.6,7.6,B0FE0,0.0
4,Tequeños,1,6.4,6.4,B0FE0,0.0

In [21]:
otter_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42861 entries, 0 to 42860
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   artículos_ordenados  42861 non-null  object
 1   cantidad             42861 non-null  int64
 2   precio_de_venta      42861 non-null  float64
 3   artículo_subtotal    42861 non-null  float64
 4   id_de_pedido         42861 non-null  object
 5   service_fee          42861 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.0+ MB

### <a id='toc1_3_2_'></a>[Column analysis](#toc0_)

#### <a id='toc1_3_2_1_'></a>[Rename columns](#toc0_)

In [22]:
columns_to_rename={'artículos_ordenados':'item',
                   'cantidad':'quantity',
                   'precio_de_venta':'price',
                   'artículo_subtotal':'total_item',
                   'id_de_pedido':'order_id_software'}

otter_items = rename_columns(otter_items, columns_to_rename)

#### <a id='toc1_3_2_2_'></a>[Column item](#toc0_)

In [23]:
otter_items.item.value_counts().shape

(211,)

In [24]:
otter_items[otter_items.price==0]

Empty DataFrame
Columns: [item, quantity, price, total_item, order_id_software, service_fee]
Index: []

In [27]:
otter_items.service_fee.value_counts()

service_fee
0.0    42861
Name: count, dtype: int64

### <a id='toc1_3_3_'></a>[Final DataFrame](#toc0_)

In [25]:
otter_items.head()

,item,quantity,price,total_item,order_id_software,service_fee
0,Patatas fritas Pequeñas,1,2.5,2.5,35999,0.0
1,Kahuna Burger,1,8.5,8.5,35999,0.0
2,Sweet Home Sanvi,1,12.3,12.3,B0FE0,0.0
3,Chicken Tenders,1,7.6,7.6,B0FE0,0.0
4,Tequeños,1,6.4,6.4,B0FE0,0.0

## <a id='toc1_4_'></a>[Export clean dataframes](#toc0_)

In [26]:
otter.to_csv('../../data/2-analyzed/otter_EDA.csv', index=False)
otter_items.to_csv('../../data/2-analyzed/otter_item_EDA.csv', index=False)