# <a id='toc1_'></a>[Data Unification - Items](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Data Unification - Items](#toc1_)    
  - [Import libraries and PyPower](#toc1_1_)    
  - [Import Data](#toc1_2_)    
  - [Data Source 1 - Otter Items](#toc1_3_)    
    - [Drop colums](#toc1_3_1_)    
    - [Colums items](#toc1_3_2_)    
      - [Compare with fuzzywuzzy similar items](#toc1_3_2_1_)    
      - [Data Frame Menu](#toc1_3_2_2_)    
      - [Now we apply a function for the items column so that it can be unified](#toc1_3_2_3_)    
      - [Sort DataFrame](#toc1_3_2_4_)    
  - [Data Source 2 - Deliverect Items](#toc1_4_)    
    - [Colums items](#toc1_4_1_)    
      - [New columns](#toc1_4_1_1_)    
      - [Sort DataFrame](#toc1_4_1_2_)    
  - [Concatenate Data Source 1: Otter Item and Data Source 2: Deliverect Item](#toc1_5_)    
  - [Export data](#toc1_6_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Import libraries and PyPower](#toc0_)

In [21]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from fuzzywuzzy import fuzz
from itertools import combinations


import sys
sys.path.append('../Python')
from  PyPower import *

## <a id='toc1_2_'></a>[Import Data](#toc0_)

In [2]:
otter_item = pd.read_csv('../../data/2-analyzed/otter_item_EDA.csv')

deliverect_item = pd.read_csv('../../data/2-analyzed/deliverect_item_EDA.csv')

## <a id='toc1_3_'></a>[Data Source 1 - Otter Items](#toc0_)

In [3]:
otter_item.head()

,item,quantity,price,total_item,order_id_software,service_fee
0,Patatas fritas Pequeñas,1,2.5,2.5,35999,0.0
1,Kahuna Burger,1,8.5,8.5,35999,0.0
2,Sweet Home Sanvi,1,12.3,12.3,B0FE0,0.0
3,Chicken Tenders,1,7.6,7.6,B0FE0,0.0
4,Tequeños,1,6.4,6.4,B0FE0,0.0

### <a id='toc1_3_1_'></a>[Drop colums](#toc0_)

In [4]:
otter_item.drop('service_fee', axis=1, inplace=True)

### <a id='toc1_3_2_'></a>[Colums items](#toc0_)

In [5]:
items_menu = otter_item.item.unique()

#### <a id='toc1_3_2_1_'></a>[Compare with fuzzywuzzy similar items](#toc0_)

In [58]:
compare_fuzzywuzzy(items_menu)

[('Chicken Tenders', 'Chicken tenders', 93),
 ('El honesto Mike', 'El Honesto Mike', 93),
 ('Patatas fritas L', 'Patatas fritas S', 94),
 ('Patatas fritas L', 'Patatas Fritas', 87),
 ('Cerveza Estrella Galicia 33CL', 'Cerveza Estrella Galicia', 91),
 ('Coca-cola', 'Coca-Cola', 89),
 ('Patatas fritas S', 'Patatas Fritas', 87),
 ('Slim Combo (Para 1)', 'Slim Combo (para 1)', 95),
 ('Cheesecake de Oreo', 'Cheescake de Oreo', 97),
 ('Cheesecake de Oreo', 'Cheese Cake de Oreo', 92),
 ('Monchi Meal (Para 2)', 'Monchi Meal Combo (Para 2)', 87),
 ('Patatas Fritas', 'Patatas Fritas bacon', 82),
 ('Burger La Uno Basic', 'Burger La Zar Basic', 84),
 ('Tarta Marquesa de Nutella', 'Marquesa de Nutella', 86),
 ('Salsa Mayo Trufa', 'Salsa Mayotrufa', 90),
 ('Salsa Mayo Trufa', 'Salsa MayoTrufa', 97),
 ('Tequeños (4 Uds.)', 'Tequechapas (4 Uds.)', 81),
 ('Tequeños (4 Uds.)', 'Tequeplátanos (4 Uds.)', 82),
 ('Cheescake de Oreo', 'Cheese Cake de Oreo', 89),
 ('Boniato Frito', 'Boniato frito S', 86),
 ('El Pelirojo Jimmy', 'El Pelirrojo Jimmy', 97),
 ('Arepa Reina Pepiada', 'Arepa reina pepiada', 89),
 ('Hamburguesa La Uno', 'Hamburguesa La Vegana', 82),
 ('Hamburguesa La Uno', 'Hamburguesa La Dos', 89),
 ('Teque Nutella', 'Tequenutellas', 85),
 ('Arepa sifrina', 'Arepa Sifrina', 92),
 ('La Caprichosa', 'Caprichosa', 87),
 ('PACK 6 TEQUES', 'PACK 12 TEQUEÑOS', 83),
 ('PACK 6 TEQUES', 'PACK 12 TEQUES', 89),
 ('PACK 6 TEQUES', 'PACK 18 TEQUEÑOS', 83),
 ('PACK 6 TEQUES', 'PACK 18 TEQUES', 89),
 ('Coca-Cola Zero', 'Coca-cola Zero', 93),
 ('Combo Duo (Para 2)', 'Combo Ego (Para 1)', 83),
 ('Nachos Anaya', 'Nachos anaya', 92),
 ('Combo Ego (para 1)', 'Combo Ego (Para 1)', 94),
 ('Arepa la rumbera remix', 'Arepa Rumbera Remix', 83),
 ('Trío criollo', 'Trío Criollo', 92),
 ('La Muergana', 'La Muérgana', 91),
 ('Cocacola bote', 'Cocacola zero bote', 84),
 ('Cocacola bote', 'Coca-cola bote', 96),
 ('Cocacola bote', 'Coca-cola Zero bote', 81),
 ('Alitas Kentucky (10 und)', 'Alitas Kentucky (5 und)', 94),
 ('Alitas Kentucky (10 und)', 'Alitas Kentucky  (5Und)', 85),
 ('Alitas Kentucky (10 und)', 'Alitas Kentucky (10Und)', 94),
 ('Alitas Kentucky (10 und)', 'Alitas Kentucky (5U)', 82),
 ('Beety Miranda', 'La Beety miranda', 83),
 ('Alitas Kentucky (5 und)', 'Alitas Kentucky  (5Und)', 91),
 ('Alitas Kentucky (5 und)', 'Alitas Kentucky (10Und)', 87),
 ('Alitas Kentucky (5 und)', 'Alitas Kentucky (5U)', 88),
 ('Hamburguesa La Vegana', 'Hamburguesa La Muergana', 91),
 ('Coca-cola Zero', 'Coca-cola Zero bote', 85),
 ('La catira', 'La Catira', 89),
 ('Salsa Mayotrufa', 'Salsa MayoTrufa', 93),
 ('La Inglesa', 'Inglesa', 82),
 ('Aquarius Limón lata 330ml.', 'Aquarius Naranja lata 330ml.', 81),
 ('PACK 12 TEQUEÑOS', 'PACK 12 TEQUES', 93),
 ('PACK 12 TEQUEÑOS', 'PACK 18 TEQUEÑOS', 94),
 ('PACK 12 TEQUEÑOS', 'PACK 18 TEQUES', 87),
 ('Alitas Kentucky  (5Und)', 'Alitas Kentucky (10Und)', 91),
 ('Alitas Kentucky  (5Und)', 'Alitas Kentucky (5U)', 93),
 ('Tropichicken', 'Tropi Chicken', 88),
 ('Tequenutella PL', 'Tequenutellas', 86),
 ('Cocacola zero bote', 'Coca-cola bote', 81),
 ('Cocacola zero bote', 'Coca-cola Zero bote', 92),
 ('Alitas Kentucky (10Und)', 'Alitas Kentucky (5U)', 88),
 ('Coca-cola bote', 'Coca-cola Zero bote', 85),
 ('Habanera', 'La Habanera', 84),
 ('PACK 12 TEQUES', 'PACK 18 TEQUEÑOS', 87),
 ('PACK 12 TEQUES', 'PACK 18 TEQUES', 93),
 ('PACK 18 TEQUEÑOS', 'PACK 18 TEQUES', 93)]

In [11]:
menu = ['Chicken Tenders',
'El honesto Mike',
'Patatas fritas L', 
'Patatas fritas S', 
'Patatas fritas',
'Cerveza Estrella Galicia 33CL',
'Coca-Cola'
'Slim Combo (Para 1)',
'Cheesecake de Oreo',
'Monchi Meal Combo (Para 2)', 
'Patatas Fritas bacon',
'Burger La Uno Basic', 
'Burger La Zar Basic', 
'Marquesa de Nutella', 
'Salsa Mayo Trufa',
'Tequeños (4 Uds.)', 
'Tequechapas (4 Uds.)', 
'Tequeplátanos (4 Uds.)',
'Teque Nutella', 
'Cheescake de Oreo', 
'Boniato Frito', 
'El Pelirojo Jimmy',
'Arepa Reina Pepiada', 
'Hamburguesa La Vegana', 
'Hamburguesa La Uno', 
'Hamburguesa La Dos',
'Arepa Sifrina', 
'La Caprichosa',
'PACK 6 TEQUEÑOS', 
'PACK 12 TEQUEÑOS',  
'PACK 18 TEQUEÑOS', 
'Coca-Cola Zero',
'Combo Duo (Para 2)', 
'Combo Ego (Para 1)',
'Nachos Anaya',
'Combo Ego (Para 1)', 
'Arepa Rumbera Remix',
'Trío Criollo',
'La Muérgana',
'Cocacola bote',
'Cocacola zero bote',
'Alitas Kentucky (10 und)', 
'Alitas Kentucky (5 und)',
'Beety Miranda',
'Hamburguesa La Vegana', 
'Hamburguesa La Muergana', 
'La Catira',
'Salsa Mayotrufa', 
'La Inglesa', 
'Aquarius Limón lata 330ml.', 
'Aquarius Naranja lata 330ml.'
'Tropi Chicken', 
'La Habanera']

#### <a id='toc1_3_2_2_'></a>[Data Frame Menu](#toc0_)

In [8]:
menu_final = pd.DataFrame({'id': range(1, len(menu)+1), 'item': menu})

#### <a id='toc1_3_2_3_'></a>[Now we apply a function for the items column so that it can be unified](#toc0_)

In [33]:
otter_item.item = otter_item.item.apply(update_item, lst=menu)

In [32]:
len(otter_item.item.unique())

187

#### <a id='toc1_3_2_4_'></a>[Sort DataFrame](#toc0_)

In [36]:
otter_item = otter_item[['order_id_software', 'item', 'price', 'quantity', 'total_item']]

## <a id='toc1_4_'></a>[Data Source 2 - Deliverect Items](#toc0_)

In [22]:
deliverect_item.head()

   order_id_software                 item  price  quantity
0          128399797  Arepa Reina Pepiada    770         1
1          128399797   Patatas guarnición    150         1
2          128399797  Arepa Rumbera Remix    770         1
3          128399797          Arepa Pelúa    850         1
4          128399797        Arepa Sifrina    770         1

### <a id='toc1_4_1_'></a>[Colums items](#toc0_)

In [30]:
len(deliverect_item.item.unique())

109

In [29]:
deliverect_item.item = deliverect_item.item.apply(update_item, lst=menu)

#### <a id='toc1_4_1_1_'></a>[New columns](#toc0_)

In [39]:
deliverect_item['total_item'] = deliverect_item['quantity'] * deliverect_item['price']

#### <a id='toc1_4_1_2_'></a>[Sort DataFrame](#toc0_)

In [40]:
deliverect_item = deliverect_item[['order_id_software', 'item', 'price', 'quantity', 'total_item']]

## <a id='toc1_5_'></a>[Concatenate Data Source 1: Otter Item and Data Source 2: Deliverect Item](#toc0_)

In [41]:
print('Otter rows: ', otter_item.shape[0], ' Deliverect rows:', deliverect_item.shape[0], 'Suma:' , otter_item.shape[0]+deliverect_item.shape[0])

Otter rows:  42861  Deliverect rows: 2131 Suma: 44992

In [42]:
all_items = pd.concat([otter_item, deliverect_item])

all_items.shape

(44992, 5)

## <a id='toc1_6_'></a>[Export data](#toc0_)

In [43]:
all_items.to_csv('../../data/3-processed/all_items.csv',  index=False)